<app-header [caller]="'about'"></app-header>
<section id="landing">
  <div id="landing-content" class="flex-box-vert">
    <p id="landing-text">
      Late delivery?<br> 
      We hate that as much as you do.<br>
      <span class="half-line-break">&nbsp;</span>
      Promavin produces perfectly fitting bespoke menswear with
      zero delays in delivery.
    </p>
  </div>
</section>

<main class="flex-box-vert">
  <p id="about-text" class="wide-paragraphs">
      When it comes to clothing, fit is everything. This, in addition to
    quality and delivery timeliness are the most important things to us at Promavin.
    <br><br>
    <span class="half-line-break">&nbsp;</span>
      <em>Promavin Couture</em> is a start-up in the Nigerian fashion industry with
    a mission to solve the problem of poor service delivery that plagues the tailoring industry
    in Nigeria. The 'home service' nature of our process also offers customers maximum convenience
    in accessing our service.
    <br><br>
    <span class="half-line-break">&nbsp;</span>
      Promavin is a male clothing brand currently operating only in parts of Lagos Mainland.
    We're working to expand our services to more locations throughout Nigeria in the near future.
  </p>
  <img src="../../assets/images/about_pic1_trans.png">
</main>

<app-footer [caller]="'about'"></app-footer>
